/* globals.css */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #111111;
}

.topbar {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 70%;
  max-width: 800px; 
  margin: 0 auto;
}

.comingSoonText {
  font-size: 36px;
  font-weight: bold;
  color: #777;
}

.footer {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
}
